<div class="wrapper">

  <div class="sidebar">
    <%= @results.count %>
    <ul>
      <% for type in @searchable_types.values %>
        <li><a class=""> <%= type[:label] %></a></li>
      <% end %>
    </ul>
  </div>

  <div class="search_form">
      <div class="search_field">
        <%= form_tag controller: "elasticsearch_plugin", action: "search" do %>
            <%= label_tag(:q, _("Search")) %>
            <%= text_field_tag(:q, @query) %>

            <%= submit_tag _("Send") %>
        <% end %>
      </div>

    <div class="results">
      <% for result in @results %>
        <% for klass in @searchable_types.keys %>
          <% next if klass.to_s.include? "all" %>

          <% if result.is_a? klass.to_s.classify.constantize %>
            <%= render partial: "#{klass}_display", :locals => { klass => result} %>
            <% break %>
          <% end %>

        <% end %>
      <% end %>
    </div>
  </div>

</div>
